body {
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
}

header {
    height: 125px;
    width: 100%;
    background-color: rgba(231, 108, 31, 1);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-inline: 64px;

    .logo_header {
        height: 45px;
    }

    .menu_icon {
        height: 40px;
    }
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;

    .hero_bg {
        width: 100%;
        max-width: 1440px;
    }

    .hero_infos {
        height: 270px;
        width: 100%;
        max-width: 1440px;

        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        img {
            height: 200px;
            position: absolute;
            top: -125px;
        }

        h1 {
            font-size: 48px;

            .h1_span {
                color: rgba(231, 108, 31, 1);
            }
        }

        p {
            font-family: Palanquin;
            font-weight: 700;
        }
    }
}

main {
    display: flex;
    /* flex-direction: column;
    align-items: center; */
    flex: 1;
    position: relative;
}

.section_head {
    height: 60px;
    /* width: 100dvh; */
    background-color: rgba(231, 108, 31, 1);
    padding-left: 150px;
    display: flex;
    align-items: end;
    justify-content: center;
    z-index: ;

    .section_head_wrapper {
        width: 100%;
        max-width: 1440px;
        display: flex;
        gap: 16px;

        img {
            height: 80px;
        }

        h2 {
            font-size: 40px;
            color: white;
            padding-top: 8px;
        }
    }
}

.dishes_section {
    width: 100%;


    .dish_display_wrapper {
        display: flex;
        justify-content: center;

        .dish_display {
            width: 100%;
            max-width: 1440px;
            padding: 24px 120px 48px 100px;
        }
    }
}

.basket_wrapper {
    flex-grow: 1;
}

footer {
    height: 125px;
    width: 100%;
    padding-top: 70px;

    background-color: rgba(231, 108, 31, 1);

    font-family: Palanquin;
    font-weight: 400;
    color: white;

    .footer_lable {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 48px;

        .copyright {
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }
}