body {
    min-height: 100dvh;
    /* width: 100dvw; */
    display: flex;
    flex-direction: column;
}

header {
    height: 125px;
    width: 100%;
    background-color: rgba(231, 108, 31, 1);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-inline: 64px;

    .logo_header {
        height: 45px;
    }

    .menu_icon {
        height: 40px;
    }
}

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;

    .hero_bg {
        width: 100%;
        max-width: 1440px;
    }

    .hero_infos {
        height: 270px;
        width: 100%;
        max-width: 1440px;
        margin-bottom: 84px;

        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        .burgerhouse_logo {
            height: 200px;
            position: absolute;
            top: -125px;
        }

        h1 {
            font-size: 48px;

            .h1_span {
                color: rgba(231, 108, 31, 1);
            }
        }

        p {
            font-family: Palanquin;
            font-weight: 700;
        }

        .name_and_stars {
            display: flex;
            align-items: center;
            gap: 24px;

            .stars {
                height: 32px;
                width: 100px;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: rgba(250, 202, 172, 1);
                border-radius: 4px;
                gap: 6px;

                img {
                    height: 24px;
                }

                h4 {
                    font-weight: 700;
                }

                p {
                    font-weight: 100;
                    color: rgba(114, 109, 109, 1);
                }
            }
        }
    }
}

main {
    display: flex;
    /* flex-direction: column;
    align-items: center; */
    flex: 1;
    position: relative;
}

.section_head {
    height: 60px;
    width: 100%;
    background-color: rgba(231, 108, 31, 1);
    padding-left: clamp(24px, calc(-383.647px + 37.059vw), 150px);
    display: flex;
    align-items: end;
    justify-content: center;
    position: absolute;

    .section_head_wrapper {
        width: 100%;
        max-width: 1440px;
        display: flex;
        gap: 16px;

        img {
            height: 80px;
        }

        h2 {
            font-size: 40px;
            color: white;
            padding-top: 8px;

        }
    }
}

.mobile-text {
    display: none;
}

.dishes_section {
    width: 100%;


    .dish_display_wrapper {
        display: flex;
        justify-content: center;

        .dish_display {
            width: 100%;
            padding-top: 84px;
            padding-left: max(20px, calc((100vw - 1440px) / 2 + 100px));
        }
    }
}


footer {
    height: 125px;
    width: 100%;
    padding-top: 70px;

    background-color: rgba(231, 108, 31, 1);

    font-family: Palanquin;
    font-weight: 400;
    color: white;

    .footer_lable {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 48px;

        .copyright {
            display: flex;
            align-items: center;
            gap: 8px;
        }
    }
}

nav {
    height: 84px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(54, 53, 52, 1);

    position: fixed;
    bottom: 0;
    left: 0;

    a {
        cursor: pointer;
    }

    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}

.add_to_basket_button {
    color: black;
}

.added_dish_button {
    color: rgba(231, 108, 31, 1);
}

.nav_shopping_cart {
    position: relative;
}

.amount_shopping_cart {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: rgba(253, 234, 220, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -10px;
    right: -6px;
}

.amount_shopping_cart_hidden {
    display: none;
}

.counter_shopping_cart {
    color: rgba(231, 108, 31, 1);
}