.dish_card {
    height: clamp(190px, calc(402px - 14.3vw), 260px);
    width: clamp(470px, calc(122.059px + 41.176vw), 715px);
    display: flex;
    gap: clamp(8px, calc(-45.333px + 5.926vw), 40px);
    padding: 10px;
    margin-bottom: 16px;
    background-color: rgba(253, 234, 220, 1);
    border-radius: 12px;

    img {
        width: clamp(150px, calc(91.729px + 7.519vw), 200px);
        object-fit: cover;
        border-radius: 12px;
    }

    .dish_card_infos {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;

        h3,
        h4 {
            font-size: 24px;
        }

        p {
            font-family: Palanquin;
            font-weight: 500;
        }

        .name_discription {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
        }

        .price_add {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: end;

            button {
                height: 30px;
                width: 100px;
                background-color: white;
                border: none;
                border-radius: 20px;
                cursor: pointer;
                font-family: Palanquin;
                font-weight: 600;
            }
        }
    }
}